<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/project.css">
    <link rel="stylesheet" type="text/css" href="styles/eachProject.css">
    <title>Door Opener Using RFID</title>
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-0 col-xs-0 col-xl-4"></div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 col-xl-4 m-4"> <img src="images/club-logo.png" class="img-fluid shadow"></div>
            <div class="col-md-4 col-lg-4 col-sm-0 col-xs-0 col-xl-4"></div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="jumbotron m-4 shadow">
            <h1 class="display-4">Door Opener Using RFID</h1>
            <hr class="my-4">
            <p>--By Sarang Dev</p>
            <a class="btn btn-primary btn-lg" href="https://github.com/Simple2001" role="button">Learn more</a>
        </div>
    </div>

    <div class="container-fluid project-name">
        <div class="row">
            <div class="col-lg-4 col-xl-4 col-sm-0 col-xs-0 col-md-4"></div>
            <div class="col-lg-4 col-xl-4 col-sm-12 col-xs-12 col-md-4 m-4 p-4 shadow">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="images/projects/door-opener-rfid.JPG" class="d-block w-100 h-100 img-fluid" alt="...">
                        </div>
                        <div class="carousel-item">
                            <div class="jumbotron jumbotron-fluid h-100 w-100">
                                <div class="container" class="display-data">
                                    <h1 class="display-4">Introduction</h1>
                                    <p class="lead">The project is about making a module which is low by cost and very effective in function. The module works on the key components such as Arduino UNO and RFID card.</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="jumbotron jumbotron-fluid h-100 w-100">
                                <div class="container">
                                    <h1 class="display-4">List of Components</h1>
                                    <p class="lead">
                                        <ol>
                                            <li>Arduino Uno</li>
                                            <li>Servo motor (V9)</li>
                                            <li>RFID Combo (Card Detector)</li>
                                            <li>General Use 9V Battery</li>
                                        </ol>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="jumbotron jumbotron-fluid h-100 w-100">
                                <div class="container">
                                    <h1 class="display-4">Technical Details</h1>
                                    <p class="lead">The RFID card is carried by user along when he is outside. User brings the RFID card in front of the detector as he wants to open it. The detector detects the card and sends the response to Arduino. Arduino UNO commands
                                        servo motor to move the blades. As the blades of servo motor are connected with the nob; nob also opens.</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="jumbotron jumbotron-fluid h-100 w-100">
                                <div class="container">
                                    <h1 class="display-4">Circuit Diagram</h1>
                                    <p class="lead"><img src="images/projects/door-opener-rfid_circuit.jpg" class="img-fluid"></p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="jumbotron jumbotron-fluid h-100 w-100">
                                <div class="container">
                                    <h1 class="display-4">Performance Report</h1>
                                    <p class="lead">
                                        <h3>Features</h3>
                                        <ol>
                                            <li>The module works quite well in the close proximity of 10 cm. Its fine work of opening or closing the door points towards successful working.</li>
                                            <li>It is quite useful in various public places and also suitable for personal use. Right today when the pandemics are spreading through touch; this kind of door opener will become very useful to avoid contact.</li>
                                        </ol>
                                        <h3>Limitations</h3>
                                        <ol>
                                            <li>Tough it is tried to make it as durable as possible but its life may decrease due to the regular shocks on the door caused by collision of door with the wall.</li>
                                            <li>If the user forgets the card; it is almost impossible to make a new one immediately as the RFID combo used here comes with a high security combination.</li>
                                            <li>The security problem. Anyone with the chip can open the door.</li>
                                        </ol>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-xl-4 col-sm-0 col-xs-0  col-md-4"></div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-0 col-xs-0 col-xl-4"></div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 col-xl-4 text-center">
                <a href="/projectList"><button class="btn"><i class="material-icons p-4">keyboard_backspace</i></button></a>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-0 col-xs-0 col-xl-4"></div>
        </div>
    </div>


    <script type="text/javascript">
        $('.carousel').carousel();
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>